*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   border: none;
   box-sizing: border-box;
}

:root {
   --light-color: white;
   // --header-font: ;
}

body,
html {
   width: 100%;
   height: auto;
   min-height: 100vh;
   overflow: hidden;
}

.container {
}

.container-header {
}

.video-wrapper {
   position: relative;
   z-index: -1;
   width: 100%;
   height: auto;
   background-color: black;
}

.video-wrapper__bg-video {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: auto;
   z-index: -1;
   object-fit: contain;
   border-bottom-left-radius: 1rem;
   border-bottom-right-radius: 1rem;

   filter: brightness(70%);
}

.container-header__header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
   height: 7rem;

   backdrop-filter: blur(7px);
   -webkit-backdrop-filter: blur(7px);

   background: rgba(255, 255, 255, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.2);

   display: flex;
   padding: 1rem 2.4rem;
   align-items: center;
   justify-content: space-between;
}

.left-content {
   display: flex;
   gap: 0.75rem;
   align-items: center;
   margin-right: 5rem;

   .left-content-btn {
      width: 10rem;
      height: 3rem;
      border-radius: 2rem;
      border: 1px solid rgba(240, 231, 223, 0.3);
      background-color: rgba(240, 231, 223, 0.12);
      padding: 0.3rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      .yandex-icon {
         width: 2.4rem;
         height: 2.4rem;

         background-color: #fff;
         border-radius: 50%;
         display: flex;
         align-items: center;
         justify-content: center;
         overflow: hidden;
      }

      .yandex-icon img {
         width: 2rem;
         height: 2rem;
         object-fit: contain;
      }

      .left-content-btn__text {
         color: white;
         display: flex;
         flex-direction: column;

         .left-content-btn__text-top {
            font-weight: 500;
            font-style: Medium;
            font-size: 0.85rem;
            line-height: 124%;
            letter-spacing: -1%;
         }

         .left-content-btn__dot {
            display: inline-block;
            background-color: white;
            width: 0.2rem;
            height: 0.2rem;
            border-radius: 50%;

            position: relative;
            bottom: 0.2rem;
         }

         .left-content-btn__text-bottom {
            font-weight: 400;
            font-style: Regular;
            font-size: 0.75rem;
            line-height: 124%;
            letter-spacing: -1%;
            vertical-align: middle;

            color: rgba(255, 255, 255, 0.7);
         }
      }
   }
   .left-content__text {
      // font-family: KyivType Sans;
      color: var(--light-color);
      font-weight: 400;
      font-size: 0.75 rem;
      line-height: 124%;
      letter-spacing: -1%;
      vertical-align: middle;
   }
}

.logo {
   display: flex;
   justify-content: center;
}
.right-content {
   display: flex;

   .whatsapp-icon,
   .tg-icon {
      margin-right: 0.5rem;

      display: flex;
      align-items: center;
      justify-content: center;

      width: 2.4rem;
      height: 2.4rem;

      border: 1px solid rgba(240, 231, 223, 0.3);
      background-color: rgba(240, 231, 223, 0.12);
      border-radius: 50%;

      .whatsapp-icon__icon,
      .tg-icon__icon {
         width: 1.1rem;
         height: 1.1rem;
      }
   }

   .right-content__text {
      margin-left: 0.25rem;
      margin-right: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      color: white;

      .right-content__phone {
         font-weight: 500;
         font-style: Medium;
         font-size: 0.85rem;
         line-height: 124%;
         letter-spacing: -1%;
      }
      .right-content__schedule {
         font-weight: 400;
         font-style: Medium;
         font-size: 0.75rem;
         line-height: 124%;
         letter-spacing: -1%;
      }
   }

   .right-content__btn {
      width: 12rem;
      height: 2.4rem;
      border-radius: 2rem;
      border: 1px solid white;
      background-color: white;
      padding: 0.5rem 0.5rem 0.5rem 0.75rem;

      display: flex;
      align-items: center;
      gap: 0.5rem;

      .right-content__btn-text {
         color: black;
         font-family: Golos Text;
         font-weight: 500;
         font-style: Medium;
         font-size: 0.85rem;
         line-height: 100%;
         letter-spacing: 0%;
         vertical-align: middle;
         text-transform: uppercase;
      }

      .right-content__btn-arrow {
         display: flex;
         text-align: center;
         justify-content: center;

         border-radius: 50%;
         background: linear-gradient(180deg, #cda658 -64.13%, #aa7d26 222.83%);

         width: 1.5rem;
         height: 1.5rem;

         .arrow {
            width: 0.55rem;
            height: 0.55rem;
            margin: auto;
         }
      }
   }
}
