@charset "UTF-8";
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  scrollbar-width: none;
}

:root {
  --light-color: white;
}

body,
html {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
}

.container {
  width: 90rem;
  height: 51.25rem;
  overflow-x: hidden;
}

.container-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 10rem;
}

.container-header__blur {
  position: fixed;
  z-index: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10rem;
  /* Маска применяется только к псевдоэлементу */
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 75%, rgba(0, 0, 0, 0) 100%);
  background: inherit;
  pointer-events: none;
  z-index: -1;
}

.video-wrapper {
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  background-color: black;
}

.video-wrapper__bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1;
  -o-object-fit: contain;
     object-fit: contain;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  filter: brightness(70%);
}

.container-header__header {
  height: 7rem;
  display: flex;
  padding: 1rem 2.4rem;
  align-items: center;
  justify-content: space-between;
}

.left-content {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  margin-right: 5rem;
}
.left-content .left-content-btn {
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  border: 1px solid rgba(240, 231, 223, 0.3);
  background-color: rgba(240, 231, 223, 0.12);
  padding: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.left-content .left-content-btn .yandex-icon {
  width: 2.4rem;
  height: 2.4rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.left-content .left-content-btn .yandex-icon img {
  width: 2rem;
  height: 2rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.left-content .left-content-btn .left-content-btn__text {
  color: white;
  display: flex;
  flex-direction: column;
}
.left-content .left-content-btn .left-content-btn__text .left-content-btn__text-top {
  font-weight: 500;
  font-style: Medium;
  font-size: 0.85rem;
  line-height: 124%;
  letter-spacing: -1%;
}
.left-content .left-content-btn .left-content-btn__text .left-content-btn__dot {
  display: inline-block;
  background-color: white;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  position: relative;
  bottom: 0.2rem;
}
.left-content .left-content-btn .left-content-btn__text .left-content-btn__text-bottom {
  font-weight: 400;
  font-style: Regular;
  font-size: 0.75rem;
  line-height: 124%;
  letter-spacing: -1%;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.7);
}
.left-content .left-content__text {
  color: var(--light-color);
  font-weight: 400;
  font-size: 0.75 rem;
  line-height: 124%;
  letter-spacing: -1%;
  vertical-align: middle;
}

.logo {
  display: flex;
  justify-content: center;
}

.right-content {
  display: flex;
}
.right-content .whatsapp-icon,
.right-content .tg-icon {
  margin-right: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 2.4rem;
  border: 1px solid rgba(240, 231, 223, 0.3);
  background-color: rgba(240, 231, 223, 0.12);
  border-radius: 50%;
}
.right-content .whatsapp-icon .whatsapp-icon__icon,
.right-content .whatsapp-icon .tg-icon__icon,
.right-content .tg-icon .whatsapp-icon__icon,
.right-content .tg-icon .tg-icon__icon {
  width: 1.1rem;
  height: 1.1rem;
}
.right-content .right-content__text {
  margin-left: 0.25rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  color: white;
}
.right-content .right-content__text .right-content__phone {
  font-weight: 500;
  font-style: Medium;
  font-size: 0.85rem;
  line-height: 124%;
  letter-spacing: -1%;
}
.right-content .right-content__text .right-content__schedule {
  font-weight: 400;
  font-style: Medium;
  font-size: 0.75rem;
  line-height: 124%;
  letter-spacing: -1%;
}
.right-content .right-content__btn {
  width: 11.5rem;
  height: 2.4rem;
  border-radius: 2rem;
  border: 1px solid white;
  background-color: white;
  padding: 0.5rem 0.5rem 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.right-content .right-content__btn .right-content__btn-text {
  color: black;
  font-family: Golos Text;
  font-weight: 500;
  font-style: Medium;
  font-size: 0.85rem;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
}
.right-content .right-content__btn .right-content__btn-arrow {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(180deg, #cda658 -64.13%, #aa7d26 222.83%);
  width: 1.5rem;
  height: 1.5rem;
}
.right-content .right-content__btn .right-content__btn-arrow .arrow {
  width: 0.55rem;
  height: 0.55rem;
  margin: auto;
}

.nav {
  height: 3rem;
  width: 95%;
  margin: auto;
  background: rgba(255, 255, 255, 0);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.nav .nav-item {
  color: white;
  font-family: KyivType Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 0.8rem;
  line-height: 124%;
  letter-spacing: 6%;
  text-transform: uppercase;
}
.nav .nav-item:first-child {
  display: flex;
  gap: 1rem;
}

.container-main {
  padding: 10rem 2.5% 0 2.5%;
  color: white;
}
.container-main .container-main__title {
  margin-top: 3.2rem;
  font-family: GT Eesti Pro Text;
  font-weight: 375;
  font-style: Book;
  font-size: 3.75rem;
  line-height: 94%;
  letter-spacing: -5%;
}
.container-main .container-main__text {
  color: white;
  margin-top: 1.5rem;
  font-family: KyivType Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.15rem;
  line-height: 140%;
  letter-spacing: -1%;
}
.container-main .container-main__btn {
  margin-top: 2rem;
  width: 16.5rem;
  height: 3.5rem;
  border-radius: 20rem;
  border: 1px solid #a87c25;
  background: linear-gradient(180deg, #d4b26f -66.86%, #a87c25 180.08%);
  padding: 1rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}
.container-main .container-main__btn .container-main__btn-text {
  font-family: KyivType Sans;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 124%;
  letter-spacing: -1%;
  vertical-align: middle;
  text-transform: uppercase;
}
.container-main .container-main__btn .container-main__btn-arrow {
  display: flex;
  text-align: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
  width: 1.5rem;
  height: 1.5rem;
}
.container-main .container-main__btn .container-main__btn-arrow .arrow {
  width: 0.55rem;
  height: 0.55rem;
  margin: auto;
}

.container-main__slider-wrapper {
  width: 100vw;
  margin-left: -2.5rem;
}

.container-main__slider {
  margin: 5.8rem auto 0 auto;
  display: flex;
  gap: 0.25rem;
  flex-wrap: nowrap;
  width: 62.625rem;
  height: 8.625rem;
}
.container-main__slider .slider-item {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding: 0.25rem;
  border-radius: 1.25rem;
}
.container-main__slider .slider-item__text {
  width: 7.75rem;
  height: 8.125rem;
}
.container-main__slider .slider-item__text .number {
  margin: 0.75rem;
  width: 2rem;
  height: 2rem;
  background-color: inherit;
  color: inherit;
  font-family: Golos Text;
  font-weight: 500;
  font-style: Medium;
  font-size: 0.95rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-main__slider .slider-item__text .text {
  margin: 0.75rem;
  font-family: KyivType Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 0.85rem;
  line-height: 124%;
  letter-spacing: -1%;
}
.container-main__slider .active {
  width: 16.25rem;
  height: 8.625rem;
  background-color: #fff;
  color: black;
}
.container-main__slider .active .img {
  width: 7.75rem;
  height: 8.125rem;
  border-radius: 1rem;
}
.container-main__slider .active > .slider-item__text > .number {
  border: 1px solid rgba(213, 175, 98, 0.6);
}
.container-main__slider .inactive {
  width: 9rem;
  height: 8.625rem;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.06);
}
.container-main__slider .inactive .img {
  display: none;
}
.container-main__slider .inactive > .slider-item__text > .number {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}
.container-main__slider .active::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: inherit;
  height: 0.25rem;
  background: inherit;
  -webkit-backdrop-filter: inherit;
          backdrop-filter: inherit;
  border: inherit;
  border-radius: inherit;
}
.container-main__slider .inactive::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 0;
  width: inherit;
  height: 0.25rem;
  -webkit-backdrop-filter: blur(16px);
          backdrop-filter: blur(16px);
  border: inherit;
  border-radius: inherit;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3));
  /* Дополнительные эффекты для "размытого" вида */
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.1);
  filter: blur(0.5px);
}/*# sourceMappingURL=style.css.map */